@model MVCStockAreas.Models.Product

@{
    ViewData["Title"] = "Detay";
}

<h4>Ürün Detay</h4>

<div class="create bg-dark-subtle mt-4">
    <hr />
    <dl class="row table-hover mt-3">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordDate)
        </dd>
    </dl>
    <br />
    <div class="foot text-center" style="justify-items: center">
        <a class="btn btn-success mb-5 mt-5" asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a>
        <a class="btn btn-dark mb-5" asp-action="Index">Listeye Geri Dön</a>
    </div>
</div>