@model MVCStockAreas.Models.Category

@{
    ViewData["Title"] = "Sil";
}
<br />
<h3>Silme İşlemine Devam Edecek Misiniz?</h3>

<div>
    <h4>Kategori Sil</h4>
    <hr />
    <dl class="row create bg-dark-subtle mt-4">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
    
    <form class="mt-3 text-center" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger me-5" /> |
        <a class="btn btn-warning ms-5" asp-action="Index">Listeye Dön</a>
    </form>
</div>